
	<tr>
		<td><%= surveyresponse.survey %></td>
		<td><%= surveyresponse.date %></td>
		<td><%= link_to 'Edit', edit_procedure_surveyresponse_path(surveyresponse.procedure, surveyresponse) %></td>
		<td><%= link_to 'Delete', [surveyresponse.procedure, surveyresponse],
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
	</tr>

