
	<tr>
		<td><%= surveyresponse.surveytemplate.name %></td>
		<td><%= surveyresponse.date %></td>
		<td><%= link_to 'Delete', [surveyresponse.procedure, surveyresponse],
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
	</tr>

