<p>
  <strong>Username:</strong>
  <%= surveyresponse.username %>
</p>

<p>
  <strong>Date:</strong>
  <%= surveyresponse.date %>
</p>

 <p>
  <strong>Score:</strong>
  <%= surveyresponse.score %>
</p>

<p>
  <%= link_to 'Destroy survey response', [surveyresponse.procedure, surveyresponse],
   method: :delete,
   data: { confirm: 'Are you sure?' } %>
</p>
